

header .container {
    padding-right: 0;
    padding-left: 0;  
    
    width: 100%;  
}
.title{
    font-family: 'Inconsolata', monospace;
    letter-spacing: 10px;
}
.navbar{ 
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

br{
    width: 1px;
    height: 100%;
    background-color: #7a7a7a;
}